<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/api.css">
  <link rel="stylesheet" href="../../css/mobileSelect.css">
  <style>
    .content {
      margin-left: .3rem;
    }

    .head-img,
    .content-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: .3rem;
      border-bottom: .01rem solid #e0e0e0;
    }

    .head-img {
      height: 1.48rem;
    }

    .content-name {
      height: 1.02rem;
    }

    .head-img span,
    .content-name span {
      font-family: PingFang-SC-Medium;
      font-size: .3rem;
      color: #333333;
    }

    .head-img .unfold,
    .content-name .unfold {
      width: 0.15rem;
      height: 0.25rem;
      margin-left: .2rem;
    }

    .head-img .imgs {
      display: flex;
      align-items: center;
    }

    .head-img .head {
      width: .9rem;
      height: .9rem;
      border-radius: 50%;
    }

    .content-name .name {
      font-family: PingFang-SC-Medium;
      font-size: .3rem;
      color: #808080;
    }

    .mobileSelect .content {
      left: -.3rem;
    }
  </style>
</head>

<body>
  <div class="app">
    <div class="content">
      <div class="head-img">
        <span>头像</span>
        <div class="imgs" @click="upload_img">
          <img :src="pers.avater" alt="" class="head" v-if="pers.avater">
          <img src="../../image/my/default-head.png" alt="" class="head" v-else>
          <img src="../../image/my/unfold.png" alt="" class="unfold">
        </div>
      </div>
      <div class="content-name" @click="tonickname()">
        <span>昵称</span>
        <div>
          <span class="name" v-if="pers.nickname">{{pers.nickname}}</span>
          <span class="name" v-else>{{pers.username}}</span>
          <img src="../../image/my/unfold.png" alt="" class="unfold" >
        </div>
      </div>
      <div class="content-name" >
        <span>性别</span>
        <div id="sex">
          <span class="name">男</span>
          <img src="../../image/my/unfold.png" alt="" class="unfold" >
        </div>
      </div>
      <div class="content-name" >
        <span>所在地</span>
        <div id="address">
          <span class="name">{{address}}</span>
          <img src="../../image/my/unfold.png" alt="" class="unfold" >
        </div>
      </div>
    </div>
    <!-- 对于弹出框来选择男女和所在地 -->
    <!-- <div class="move">
      <div class="move-box">
          <div class="first-line">
              <p>取消</p>
              <span>确定</span>
            </div>
            <div class="gender">
              <div>男</div>
              <div>女</div>
            </div>
      </div>
    </div> -->
  </div>
  <script src="../../script/api.js" charset="utf-8"></script>
  <script src="../../script/flexible.js" charset="utf-8"></script>
  <script src="../../script/vue.min.js"></script>
  <script src="../../script/mobileSelect.js"></script>
  <script src="../../script/restful.js" charset="utf-8"></script>
  <script>
  apiready = function() {
    api.addEventListener({
      name: 'changeperson'
    }, function(ret, err) {
      console.log(JSON.stringify(ret))
      vue.person()
    });

    var vue = new Vue({
      el: '.app',
      data() {
        return {
          openbluetooth: false,
          addresslist:'',
          data: [{ 'id': 0, 'value': '男' },{ 'id': 1, 'value': '女' }],
          sex:'',
          sexId:'0',
          address:'',
          addressId:'',
          pers:'',
        }
      },
      mounted() {
        // 获取个人信息、
        this.person()
      },
      methods: {
        // 地址
        getaddress(person){
          let vm=this;
        },
        getmobileSelect1(index,array){
          let vm=this
          var mobileSelect1 = new MobileSelect({
          trigger: '#address',
          title: '所在地区',
          wheels: [
            {
              data: array
            }
          ],
          position: [index],
          callback: function (indexArr, data) {
            vm.address=data[0].value
            vm.addressId=data[0].id
            vm.saveperson()
          }
        });
      },
        getmobileSelect2(){
          let vm=this
          var mobileSelect2 = new MobileSelect({
          trigger: '#sex',
          title: '性别',
          wheels: [
            {
              data:this.data
            }
          ],
          position: [0],
          callback: function (indexArr, data) {
            vm.sex=data[0].value
            vm.sexId=data[0].id
            vm.saveperson()
          }
        });
      },
        // 个人信息
        person(){
          let vm=this
          fnGet(interfaces.info, {}, true, function(ret,err){
              if(ret.code==RESPONSE_OK){
                console.log(JSON.stringify(ret.data))
                vm.getaddress(ret.data)
              }else{
                console.log(JSON.stringify(err))
              }
          })
        },
        getopenbluetooth() {
          this.openbluetooth = !this.openbluetooth;
        },
        tonickname(){
          api.openWin({
              name: 'nick_name_win',
              url: 'nick_name_win.html',
              reload: true,
              bounces: false,
              slidBackEnabled: true,
          });
        },

      // 上传
      upload_img(){
        var vm = this;
        api.actionSheet({
                title: '',
                cancelTitle: '取消',
                buttons: ['拍摄','相册']
            }, function(ret, err) {
                var index = ret.buttonIndex;
                var sourType = '';
                if (index == 1 || index == 2 ) {
                 sourType=index==1?'camera':'photos'
                    var resultList = api.hasPermission({
                        list: [sourType]
                    });
                    if (!resultList[0].granted) {
                        api.requestPermission({
                            list: [sourType],
                            code: 1
                        }, function(ret, err) {
                            if (ret && ret.list && ret.list.length > 0 && ret.list[0].granted) {
                                vm.getPicture(sourType)
                            }
                        });
                    } else {
                        vm.getPicture(sourType)
                    }
                } else  {
                    return;
                }

            });
      },
      getPicture(sourType){
        if(sourType==='photos'){
          sourType='library'
        }
        let vm=this
        api.getPicture({
            sourceType: sourType,
            encodingType: 'jpg',
            mediaValue: 'pic',
            destinationType: 'base64',
            allowEdit: false,
            quality: 80,
            targetWidth: 500,
            targetHeight: 500,
            saveToPhotoAlbum: false
        }, function(ret, err) {
          if (ret) {
            var formdata = {
                  base64Image: ret.base64Data.substring(ret.base64Data.indexOf('base64,') + 'base64,'.length)
            };
            if(ret.data !== ""){
              fnBodyPost(interfaces.upload, formdata, function(ret, err) {
                  if (ret.code == RESPONSE_OK) {
                    vm.pers.avater=ret.data
                    vm.saveperson()
                  } else {
                      if (ret.subMsg || ret.msg) {
                          api.toast({
                              msg: ret.subMsg ? ret.subMsg : ret.msg,
                              duration: 2000,
                              location: 'middle'
                          });
                      }
                  }
              });
            }
          } else {
            console.log(JSON.stringify(err));
          }
        })
      },
        // 更改了就立马保存
        saveperson(){
         let vm=this
          let param={
            "areaId": vm.addressId,
            "avater": vm.pers.avater,
            "sex": vm.sexId
          }
          fnBodyPost(interfaces.info, param, function(ret,err){
              console.log(JSON.stringify(ret))
            if(ret.code==RESPONSE_OK){
                console.log(JSON.stringify(ret))
                api.toast({
                    msg: '修改成功',
                    duration: 2000,
                    location: 'bottom'
                });
                api.sendEvent({
                    name: 'changeperson',
                });
            }else{
              console.log(JSON.stringify(err))
            }
          })
        },
    }
    })
  }
  </script>

</body>

</html>
