<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/api.css">
    <style>
        .content {
            padding: 0 .3rem;
        }

        .content .line {
            height: 1.02rem;
            border-bottom: 1px solid #e6e6e6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: PingFang-SC-Medium;
            font-size: .3rem;
            color: #999999;
        }

        .btn {
            width: 6.9rem;
            height: .78rem;
            background: #FF8C46;
            border-radius: 39px;
            border-radius: 39px;
            font-family: PingFang-SC-Medium;
            font-size: .3rem;
            color: #FFFFFF;
        }

        .btn-dis {
            background-color: #E6E6E6;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="app">
        <div class="content">
            <div class="line">
                <input type="text" placeholder="请输入手机号" v-model="phonenum">
            </div>
            <div class="line">
                <input type="text" placeholder="请输入验证码" v-model="code">
                <button class="btn" style="width:1.8rem;height:.56rem;font-size: .24rem;" @click="getcode()" v-if="codeishow===false">获取验证码</button>
                <button class="btn btn-dis" disabled="disabled" style="width:1.8rem;height:.56rem;font-size: .24rem;" v-if="codeishow===true">重新发送({{sendCount}}s)</button>
            </div>
            <div class="line">
                <input type="password" placeholder="请输入密码" v-model="password">
            </div>
            <div class="line">
                <input type="password" placeholder="请确认密码" v-model="password2">
            </div>
        </div>
        <div style="text-align: center;margin-top: 1rem;" @click="getchangepass()">
            <button class="btn">确定</button>
        </div>
    </div>
    <script src="../../script/api.js" charset="utf-8"></script>
    <script src="../../script/flexible.js" charset="utf-8"></script>
    <script src="../../script/vue.min.js"></script>
    <script src="../../script/restful.js"></script>
    <script src="../../script/fastclick.js"></script>
    <script>
      apiready = function () {
        var vue = new Vue({
            el: '.app',
            data() {
                return {
                    phonenum: '',
                    code: '',
                    password: '',
                    password2: '',
                    codeishow: false,
                    sendCount: 59,
                }
            },
            methods: {
                // 倒计时函数
                countDown() {
                    var vm = this;
                    var s = 59;
                    var countInterval = setInterval(function() {
                        if (vm.sendCount > 0) {
                            s--;
                            vm.sendCount = s;
                        } else {
                            clearInterval(countInterval);
                            vm.sendCount = 59;
                            vm.codeishow = false;
                        }
                    }, 1000);
                    vm.countInterval = countInterval;
                },
                // 发送验证码
                getcode() {
                    if (!this.phonenum) {
                        api.toast({
                            msg: '手机号码不能为空',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return;
                    }
                    this.countDown()
                    this.codeishow = true
                        // 请求发送短信
                    let param = {
                        phone: this.phonenum,
                        type: '2'
                    }
                    fnBodyPost(interfaces.sendCode, param, function(ret, err) {
                        if (ret.code === 20000) {
                            api.toast({
                                msg: ret.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                        } else {
                            console.log(JSON.stringify(err))
                        }
                    })

                },
                // 提交修改密码
                getchangepass() {
                    if (!this.phonenum) {
                        api.toast({
                            msg: '手机号码不能为空',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return;
                    }
                    if (!this.code) {
                        api.toast({
                            msg: '验证码不能为空',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return;
                    }
                    if (!this.password || !this.password2) {
                        api.toast({
                            msg: '密码不能空',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return;
                    }
                    if (this.password !== this.password2) {
                        api.toast({
                            msg: '两次密码不正确，请检查',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return;
                    }
                    //
                    var param = {
                        code: this.code,
                        newPassword:this.password,
                        username: this.phonenum,
                        type:2
                    }
                    console.log(JSON.stringify(param))
                    fnBodyPut(interfaces.setPwd, param, function(ret, err) {
                        if (ret.code === 20000) {
                            api.toast({
                                msg: '修改密码成功',
                                duration: 2000,
                                location: 'bottom'
                            });
                            api.openWin({
                                name: 'login_win',
                                url: '../login/login_win.html',
                                reload:true,
                                pageParam: {
                                    name: 'test'
                                }
                            });
                            setTimeout(function(){
                                api.closeToWin({
                                    name: 'root'
                                });
                            },300)
                        } else {
                            console.log(JSON.stringify(err))
                        }
                    })
                }
            },
        })
      }
    </script>
</body>

</html>
