<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/api.css">
  <link rel="stylesheet" href="../../css/mobileSelect.css">
  <style>
    .btn {
      width: 6.9rem;
      height: .78rem;
      background: #FF8C46;
      border-radius: 39px;
      border-radius: 39px;
      font-family: PingFang-SC-Medium;
      font-size: .3rem;
      color: #FFFFFF;
    }

    .content-box {
      padding-left: .3rem;
      background: #FFFFFF;
    }

    .content {
      line-height: 1.07rem;
      background: #FFFFFF;
      padding-right: .3rem;
      border-bottom: 1px solid #e0e0e0;
      font-family: PingFang-SC-Medium;
      font-size: .28rem;
      color: #333333;
    }

    .content input {
      margin-left: .88rem;
      width: 50%;
    }
    .unfold {
      width: .15rem;
      height: .25rem;
      text-align: right;
    }

    .contentflex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content-detail {
      display: flex;
      margin-top: .3rem;
      font-family: PingFang-SC-Medium;
      font-size: .28rem;
      color: #333333;
    }

    .content-detail span {
      margin-right: .6rem;
    }

    .content-detail textarea {
      font-size: .28rem;
      color: #333333;
    }

    .switch {
      height: 1.15rem;
      display: flex;
      justify-content: space-between;
      background: #ffffff;
      padding: 0 .3rem;
      margin-top: .2rem;
      font-family: PingFang-SC-Medium;
      font-size: .28rem;
      color: #333333;
      line-height: 1.15rem;
      align-items: center;
    }

    .switch img {
      width: .9rem;
      height: .55rem;

    }
  </style>
</head>

<body>
  <div class="app">
    <div class="content-box">
      <div class="content">
        <span>收货人</span>
        <input type="text" placeholder="请填写姓名" v-model="name">
      </div>
      <div class="content">
        <span>手机号码</span>
        <input type="text" placeholder="手机号码" style="margin-left: .60rem;" v-model="phone">
      </div>
      <div class="content contentflex">
        <div>
          <span>所在地区</span>
          <input type="text" placeholder="请选择" style="margin-left: .60rem;" v-model="address">
        </div>
        <img src="../../image/my/unfold.png" alt="" class="unfold" id="address">
      </div>
      <div class="content-detail">
        <span>详细地址</span>
        <textarea name="" id="" cols="31" rows="3" placeholder="请填写（街道、楼牌号等）" style="margin-top:.05rem" v-model="detail"></textarea>
      </div>
    </div>
    <div class="switch">
      <p>设置默认地址</p>
      <img src="../../image/my/switch.png" alt="" v-if="switchcase===false" @click="handleswitchcase">
      <img src="../../image/my/switch-true.png" alt="" v-if="switchcase" @click="handleswitchcase">
    </div>
    <div style="text-align: center;position: fixed; bottom: .5rem;left:4%;">
      <button class="btn" @click="saveaddress">保存</button>
    </div>
  </div>
  <script src="../../script/api.js" charset="utf-8"></script>
  <script src="../../script/flexible.js" charset="utf-8"></script>
  <script src="../../script/vue.min.js"></script>
  <script src="../../script/restful.js"></script>
    <script src="../../script/mobileSelect.js"></script>
  <script>
    apiready = function() {
    var vue = new Vue({
      el: '.app',
      data() {
        return {
          switchcase: false,
          id:api.pageParam.id,
          address:'',
          name:'',
          phone:'',
          detail:'',
          addressId:'',
          addindex:[],
        }
      },
      mounted(){
        this.getaddress()
        this.changehome()
      },
      methods: {
        // 开始获取所有收货地址截取第一个
        getaddress(){
          let vm=this
          console.log(this.id)
          fnGet(interfaces.address, {}, true, function(ret,err){
            if(ret.code==RESPONSE_OK){
              // console.log(JSON.stringify(ret.data))
              // vm.addresslist=ret.data
              let array=ret.data
              for (var i = 0; i < array.length; i++) {
                // console.log(JSON.stringify(array[i]))
                if(array[i].id===vm.id){
                  // 获取选择地址
                  vm.changearea(array[i])
                }
              }
            }else{
              console.log(JSON.stringify(err))
            }
          })
        },
        // 获取下标来进行回显
        // 用areaall里面数据循环
        changearea(item){
          let vm=this
            console.log(JSON.stringify(item))
           let treePath=item.treePath
           let arrtreePath=treePath.split(',')
          arrtreePath.splice(0,1)
           let arrtreePathlength=arrtreePath.length
             fnGet(interfaces.areaone, {}, true, function(ret,err){
               if(ret.code==RESPONSE_OK){
                 let array=ret.data
                 for (var j = 0; j < array.length; j++) {
                   if(arrtreePath[0]===array[j].id){
                       console.log(JSON.stringify(array[j]))
                        console.log(j)
                        vm.addindex.push(j)
                        fnGet(interfaces.areaone, {parentId:arrtreePath[0]}, true, function(ret,err){
                          if(ret.code==RESPONSE_OK){
                            let array=ret.data
                            for (var k = 0; k < array.length; k++) {
                              if(arrtreePath[1]===array[k].id){
                                console.log(JSON.stringify(array[k]))
                                   console.log(k)
                                   vm.addindex.push(k)
                                   if (arrtreePathlength>2) {
                                     fnGet(interfaces.areaone, {parentId:arrtreePath[1]}, true, function(ret,err){
                                       if(ret.code==RESPONSE_OK){
                                         let array=ret.data
                                         for (var l = 0; l < array.length; l++) {
                                           if(arrtreePath[2]===array[l].id){
                                                 console.log(JSON.stringify(array[l]))
                                                console.log(l)
                                                vm.addindex.push(l)
                                                if(arrtreePathlength>3){
                                                  fnGet(interfaces.areaone, {parentId:arrtreePath[2]}, true, function(ret,err){
                                                    if(ret.code==RESPONSE_OK){
                                                      let array=ret.data
                                                      console.log(arrtreePath[3])
                                                      for (var m = 0; m < array.length; m++) {
                                                        if(arrtreePath[3]===array[l].id){
                                                             console.log(m)
                                                          vm.addindex.push(m)
                                                          console.log(vm.addindex)
                                                        }
                                                      }
                                                    }else{
                                                      console.log(JSON.stringify(err))
                                                    }
                                                  })
                                                }else {
                                                  console.log(vm.addindex)
                                                }
                                           }
                                         }
                                       }else{
                                         console.log(JSON.stringify(err))
                                       }
                                     })
                                   }else {
                                    console.log(vm.addindex)
                                   }
                              }
                            }
                          }else{
                            console.log(JSON.stringify(err))
                          }
                        })
                   }
                 }
               }else{
                 console.log(JSON.stringify(err))
               }
             })

        },
      //获取所有地址
        changehome(){
          let vm=this;
          fnGet(interfaces.area,{},true,function(ret, err) {
              if (ret.code == RESPONSE_OK) {
                  vm.changeaddress(ret.data)
              }else{
                console.log(JSON.stringify(err))
              }
            })
        },
        // 创建选择地址
        changeaddress(data){

          let vm=this
          console.log(vm.addindex)
          console.log(JSON.stringify(data))
            var mobileSelect1 = new MobileSelect({
            trigger: '#address',
            title: '所在地区',
            wheels: [
              {
                data:data,
              }
            ],
            position:vm.addindex,
            callback: function (indexArr, data) {
              vm.address=''
              console.log(JSON.stringify(data));
              console.log(JSON.stringify(indexArr));
              for(var i=0 ;i<data.length;i++){
                vm.address+=data[i].value
                vm.address+=" "
                vm.addressId=data[i].id
              }
              console.log(JSON.stringify(vm.address))
              console.log(vm.addressId)
              //  vm.address=data[0].value+" "+data[1].value+" "+data[2].value

            }
          });
        },
        handleswitchcase() {
          console.log(this.id)
          this.switchcase = !this.switchcase;
        },
        // 保存收货地址
          saveaddress(){
            if(this.name=== ""){
              api.toast({
                  msg: '收货人不能为空',
                  duration: 2000,
                  location: 'bottom'
              });
              return;
            }
            if(this.phone=== ""){
              api.toast({
                  msg: '电话不能为空',
                  duration: 2000,
                  location: 'bottom'
              });
              return;
            }
            if(this.detail=== ""){
              api.toast({
                  msg: '收货地址详情不能为空',
                  duration: 2000,
                  location: 'bottom'
              });
              return;
            }
            if(this.address=== ""){
              api.toast({
                  msg: '收货所在地不能为空',
                  duration: 2000,
                  location: 'bottom'
              });
              return;
            }
            let def=0
            if(this.switchcase){
              def=1
            }else{
              def=0
            }
            console.log(def)
            let param={
              "address":this.detail,
              "areaId":this.addressId,
              "def": def,
              "receiptorName": this.name,
              "receiptorPhone": this.phone,
              "id": this.id,
            }
            fnBodyPost(interfaces.address, param, function(ret,err){
              console.log(JSON.stringify(ret))
              if(ret.code==RESPONSE_OK){
                api.toast({
                    msg: '新增地址创建成功',
                    duration: 2000,
                    location: 'bottom'
                });
                setTimeout(function(){
                        api.closeWin()
                },2000)
              }else {
                console.log(JSON.stringify(err))
              }
            })
          },
      }
    })
  }
  </script>

</body>

</html>
